<h2><%= @room.name %></h2>
<button>
  <% if current_user.rooms.length < 2 %>
    <%= link_to "Add New Room", new_room_path %>
  <% else %>
    <%= link_to "Back to Rooms", rooms_path %>
  <% end %>
</button>
<h4>Roommates</h4>

<ul>
  <% @users.each do |u|  %>
  <li><%= u.email %></li>
  <% end %>
</ul>

<form data-id="<%= @room.id %>" id="new-place">
  <input placeholder="url" type="text" id="place_url">
  <button id="import-data">Import</button>
  <input placeholder="address" type="text" id="place_address">
  <input placeholder="price" type="text" id="place_price">
  <input placeholder="beds" type="text" id="place_beds">
  <input placeholder="baths" type="text" id="place_baths">
  <input placeholder="sqft" type="text" id="place_sqft">
  <input placeholder="amenities" type="text" id="place_amenities">
  <input type="submit">
</form>

<ul id="places-list">
  <% @places.each do |p| %>
  <li>
    <%= p.address %>
    <span><button class="delete" place-id="<%= p.id %>" room-id="<%= @room.id %>">X</button></span>
    <ul class="hidden">
      <li>Price: <%= p.price %> </li>
      <li>Beds: <%= p.beds %></li>
      <li>Baths: <%= p.baths %></li>
      <li>Sqft: <%= p.sqft %></li>
      <li>Amenities: <%= p.amenities %></li>
    </ul>
  </li>
  <% end %>
</ul>
