<!DOCTYPE html>
<html>
<head>
  <title>HouseThis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <div class="navbar">
    <div class="logo">
      <h2>House This?</h2>
    </div>
    <ul>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %> 
      </li>
      <li>
        <a id="expand-notifications" href="#">Show Notifications</a>
      </li>
      <li>
        <%= link_to "Add New Room", new_room_path %>
      </li>
      <% if current_user.rooms.length > 1 %>
        <li><%= link_to "Back to Rooms", rooms_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="user-notifications hidden">
    <ul>
        <% @notifications.each do |r| %>
        <li>
          <%= Room.find(r.room_id).name %><button room-id="<%= r.room_id %>" roommate-id="<%= r.id %>" class="accept">Join</button>
        </li>
        <% end %>
    </ul>
  </div>
<% end %>
<div class="content">
  <%= yield %>
</div>
</body>
</html>
