<!DOCTYPE html>
<html>
<head>
  <title>HouseThis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <div class="navbar">
    <ul>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %> 
      </li>
      <li>
        <a href="#">Show Notifications</a>
      </li>
    </ul>
  </div>
  <div class="user-notifications">
    <ul>
        <% current_user.roommates.where(accepted: false).each do |r| %>
        <li>
          <%= Room.find(r.room_id).name %><button room-id="<%= r.room_id %>" roommate-id="<%= r.id %>" class="accept">Join</button>
        </li>
        <% end %>
    </ul>
  </div>
<% end %>
<%= yield %>

</body>
</html>
